@font-face {
    font-family: pokefont;
    src: url('Pokemon_Solid.ttf');
}

.pokefont{
    font-family: pokefont;
}

form{
    text-align: center;
}


.red{
    background-color: #C00D0D;
}

div.left{
    position: absolute;
    left: 384px;
    width: 384px;
    height: 513.8px;
    top: 88.08px;
    border-radius: 40px 40px 0 40px;
    box-shadow: -10px 9px #5e0000;
}

div.up{
    z-index: 2;
    position: absolute;
    width: 384px;
    height: 73.4px;
    border-radius: 40px 40px 0 40px;
    box-shadow: -10px 9px #5e0000;
}

div.right{
    z-index: 1;
    position: absolute;
    left: 752.64px;
    width: 322.56px;
    height: 440.4px;
    top: 161.48px;
    border-radius: 0 40px 40px 0;
    box-shadow: -0 9px #5e0000;
}

div.middle{
    z-index: 2;
    position: absolute;
    width: 76.8px;
    height: 513.8px;
    background: -webkit-linear-gradient(left, #7e0202 0%, #9c0b0b 50%, #660000 100%);
    right: 0;
    border-radius: 0 40px 0 0;
}

div.hr-1{
    width: 74px;
    height: 1px;
    border: black solid 1px;
    background-color: black;
    position: absolute;
    top: 146.8px;
}

div.hr-2{
    width: 74px;
    height: 1px;
    border: black solid 1px;
    background-color: black;
    position: absolute;
    top: 110.1px;
}

div.hr-3{
     width: 74px;
     height: 1px;
     border: black solid 1px;
     background-color: black;
     position: absolute;
     top: 440.4px;
 }

div.hr-4{
    width: 74px;
    height: 1px;
    border: black solid 1px;
    background-color: black;
    position: absolute;
    top: 477.1px;
}

div.screen-border{
    position: absolute;
    box-shadow: inset -0.5px 0.3em 1.5em black;
    background-color: #A6AD97;
    top: 146.8px;
    left: 46px;
    width: 215.04px;
    height: 215.04px;
    border-radius: 20px 20px 20px 70px;
}

div.red-btn{
    background-color: #ff0707;
    border-radius: 10000px;
    width: 18px;
    height: 18px;
    border: black solid 1px;
}

div.button1{
    position: absolute;
    top: 7.34px;
    left: 7.68px;
}

div.green-btn{
    background-color: #0ee037;
    border-radius: 10000px;
    width: 18px;
    height: 18px;
    border: black solid 1px;
}

div.button2{
    position: absolute;
    top: 7.34px;
    left: 30.72px;
}

div.yellow-btn{
    background-color: #e0dd39;
    border-radius: 10000px;
    width: 18px;
    height: 18px;
    border: black solid 1px;
}

div.button3{
    position: absolute;
    top: 7.34px;
    left: 53.76px;
}

div.hr-5{
    width: 122.88px;
    height: 1px;
    border: black solid 1px;
    background-color: black;
    position: absolute;
    left: 61.44px;
    top: 205.52px;
}

div.hr-6{
    width:138.24px;
    height: 1px;
    border: black solid 1px;
    background-color: black;
    position: absolute;
    left: 46px;
    top: 194.51px;
}

div.big-button{
    background-color: #1BC8EB;
    border-radius: 100000px;
    z-index: 2;
    position: absolute;
    width: 76.8px;
    height: 76.8px;
    top: 389.02px;
    left: 30.72px;
    border: white solid 2px;
}

div.poketext{
    position: absolute;
    font-size: 280%;
    left: 69.12px;
    top: -36.7px;
}

div.up-cross{
    position: absolute;
    background-color: #1D1F20;
    height: 30.72px;
    width: 30.72px;
    top: 245.76px;
    left: 153.6px;
    box-shadow: -2px 2px #010101;
}

div.middle-cross{
    position: absolute;
    background-color: #1D1F20;
    height: 30.72px;
    width: 30.72px;
    top: 276.48px;
    left: 153.6px;
}

div.right-cross{
    position: absolute;
    background-color: #1D1F20;
    height: 30.72px;
    width: 30.72px;
    top: 276.48px;
    left: 184.32px;
}

div.left-cross{
    position: absolute;
    background-color: #1D1F20;
    height: 30.72px;
    width: 30.72px;
    top: 276.48px;
    left: 123px;
    box-shadow: -2px 1px #010101;
}

div.down-cross{
    position: absolute;
    background-color: #1D1F20;
    height: 30.72px;
    width: 30.72px;
    top: 307.2px;
    left: 153.6px;
    box-shadow: -2px 1px #010101;
}

div.right-arrow{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #000000;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 5px;
    right: 8px;

}

div.left-arrow{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #111;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 5px;
    left: 8px;
}

div.top-arrow{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #111;
    position: absolute;
    top: 8px;
    left: 5px;
}

div.down-arrow{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #111;
    position: absolute;
    bottom: 8px;
    left: 5px;
}

div.right-screen{
    position: absolute;
    box-shadow: inset -0.5px 0.3em 1.5em black;
    background-color: #A6AD97;
    border-radius: 10px;
    width: 230.4px;
    height: 220.2px;
    top: 73.4px;
    left: 53.76px;
}

div.little-big-yellow-button{
    position: absolute;
    background-color: #ffff00;
    width: 122.88px;
    height: 44.04px;
    border-radius: 5px;
    top: 374.34px;
    left: 53.76px;
    border: black solid 1px;
    box-shadow: -2px 2px #5e0000;
}

div.little-bug-yellow-button2{
    position: absolute;
    background-color: #ffff00;
    width: 99.84px;
    height: 44.04px;
    border-radius: 5px;
    top: 374.34px;
    left: 184.32px;
    border: black solid 1px;
    box-shadow: -2px 2px #5e0000;
}

div.little-breen-button1{
    position: absolute;
    background-color: #30da0c;
    width: 46px;
    height: 22.02px;
    border-radius: 5px;
    top: 322.96px;
    left: 53.76px;
    border: black solid 1px;
    box-shadow: -2px 2px #5e0000;
}

div.little-breen-button2{
    position: absolute;
    background-color: #30da0c;
    width: 46px;
    height: 22.02px;
    border-radius: 5px;
    top: 322.96px;
    left: 115.2px;
    border: black solid 1px;
    box-shadow: -2px 2px #5e0000;
}

div.little-breen-button3{
    position: absolute;
    background-color: #30da0c;
    width: 46px;
    height: 22.02px;
    border-radius: 5px;
    top: 322.96px;
    left: 176.64px;
    border: black solid 1px;
    box-shadow: -2px 2px #5e0000;
}

div.little-breen-button4{
    position: absolute;
    background-color: #30da0c;
    width: 46px;
    height: 22.02px;
    border-radius: 5px;
    top: 322.96px;
    left: 238.08px;
    border: black solid 1px;
    box-shadow: -2px 2px #5e0000;
}

img{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 35px;
    left: 35px;
    border: black solid 1px;
}

div.pokename {
    position: absolute;
    top: 10px;
    left: 10px;
}
div.poketype{
    position: absolute;
    left: 10px;
    top: 47px;
}

div.error{
    text-align: center;
    color: red;
}

div.close{
    display: none;
}

@media screen and (max-width: 769px) {
    div.pokedex{
        display: none;
    }
    form{
        display: none;
    }

}