form{
    text-align: center;
}

div.pokedex{
    position: absolute;
}

.red{
    background-color: #C00D0D;
}

div.left{
    position: absolute;
    left: 25vw;
    width: 25vw;
    height: 70vh;
    top: 12vh;
    border-radius: 50px 50px 0 50px;
}

div.right{
    position: absolute;
    left: 50vw;
    width: 25vw;
    height: 60vh;
    top: 22vh;
    border-radius: 0 50px 50px 0;
}

div.middle{
    position: absolute;
    width: 5vw;
    height: 70vh;
    background: -webkit-linear-gradient(left, #7e0202 0%, #9c0b0b 50%, #660000 100%);
    right: 0;
    border-radius: 0 50px 0 0;
}

div.hr-1{
    width: 5vw;
    height: 1px;
    border: black solid 1px;
    background-color: black;
    position: absolute;
    top: 20vh;
}

div.hr-2{
    width: 5vw;
    height: 1px;
    border: black solid 1px;
    background-color: black;
    position: absolute;
    top: 15vh;
}

div.hr-3{
     width: 5vw;
     height: 1px;
     border: black solid 1px;
     background-color: black;
     position: absolute;
     top: 60vh;
 }

div.hr-4{
    width: 5vw;
    height: 1px;
    border: black solid 1px;
    background-color: black;
    position: absolute;
    top: 65vh;
}

div.screen-border{
    position: absolute;
    background-color: #D2D6CB;
    top: 20vh;
    left: 3vw;
    width: 14vw;
    height: 14vw;
    border-radius: 20px 20px 20px 70px;
}

div.red-btn{
    background-color: #ff0707;
    border-radius: 10000px;
    width: 18px;
    height: 18px;
}

div.button1{
    position: absolute;
    top: 1vh;
    left: 0.5vw;
}

div.green-btn{
    background-color: #0ee037;
    border-radius: 10000px;
    width: 18px;
    height: 18px;
}

div.button2{
    position: absolute;
    top: 1vh;
    left: 2vw;
}

div.yellow-btn{
    background-color: #e0dd39;
    border-radius: 10000px;
    width: 18px;
    height: 18px;
}

div.button3{
    position: absolute;
    top: 1vh;
    left: 3.5vw;
}

div.hr-5{
    width: 8vw;
    height: 1px;
    border: black solid 1px;
    background-color: black;
    position: absolute;
    left: 4vw;
    top: 28vh;
}

div.hr-6{
    width:9vw;
    height: 1px;
    border: black solid 1px;
    background-color: black;
    position: absolute;
    left: 3vw;
    top: 26.5vh;
}